In [1]:
import numpy as np 
import pandas as pd 
df = pd.read_csv("bitcoin.csv")
df.head()

        Date        Price
0  5/23/2019  7881.846680
1  5/24/2019  7987.371582
2  5/25/2019  8052.543945
3  5/26/2019  8673.215820
4  5/27/2019  8805.778320

: